<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background-color: black;
}
.uper{
    padding: 0 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6%;
    width: 100%;
    /* background-color: red; */
    color: white;
}
.icon-text{
    display: flex;
    align-items: center;
    gap: 5vw;
}
.icon-text a{
    text-decoration: none;
    color: white;
}
.icon-text i{
    font-size: 25px;
    font-weight: 500;
}
.uper>i{
    font-size: 30px;
    color: white;
}
.input{
    height: 5%;
    width: 100%;
    padding: 0 3vw;
   
}
input{
    padding: 0 5vw;
    height: 100%;
    width: 100%;
    background-color: #333;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    outline: none;
}
.story{
    padding: 0 2vw;
    height: 12%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 2vw;
}
.box{
    height: 75%;
    width: 20%;
    background-color: white;
    border-radius: 50%;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
.tag{
    padding: 0 3vw;
    height: 5%;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tag h3{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.tag h4{
    font-size: 15px;
    color: rgb(64, 64, 233);
}
.massages{
    padding: 0 3vw;
    height: 10%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.massages .image{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
}
.name{
    padding: 0 3vw;
    height: 100%;
    width: 42%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5vw;
}
.name h3{
    color: white;
    font-weight: 600;
}
.name h4{
    color: white;
    font-weight: 500;
}
.icon{
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 40%;
    /* background-color: blue; */
}
.icon i{
    font-size: 30px;
    color: white;
}
.name a{
    text-decoration: none;
}

    </style>

<body>
    <div class="main">
        <div class="uper">
            <div class="icon-text">
                <a href="/"> <i class="ri-arrow-left-line"></i></a>
                <h3>__niraj_surya_</h3>
            </div>
            <i class="ri-edit-box-line"></i>
        </div>
        <div class="input">
            <input type="text" placeholder="Search">
        </div>
        <div class="story">
            <div class="box">
                <img src="https://images.unsplash.com/photo-1623039497026-00af61471107?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="box">
                <img src="https://plus.unsplash.com/premium_photo-1670297116249-e129fd722ae0?q=80&w=1254&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="box">
                <img src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=1364&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
        </div>
        <div class="tag">
            <h3>Messages</h3>
            <h4>Request</h4>
        </div>
        <div class="massages">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=1288&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="name">
                <a href="/innermassage"><h3>Melis vinteg</h3></a>
                <h4>+9 Messages .5h</h4>
            </div>
            <div class="icon">
                <i class="ri-camera-line"></i>
            </div>
        </div>
        <div class="massages">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1464863979621-258859e62245?q=80&w=1286&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="name">
                <h3>Harlied loyi<h3>
                <h4>+5 Messages .9h</h4>
            </div>
            <div class="icon">
                <i class="ri-camera-line"></i>
            </div>
        </div> <div class="massages">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1494354145959-25cb82edf23d?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="name">
                <h3>Melis roger<h3>
                <h4>+9 Messages .1d</h4>
            </div>
            <div class="icon">
                <i class="ri-camera-line"></i>
            </div>
        </div>
        <div class="massages">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1512288094938-363287817259?q=80&w=1286&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="name">
                <h3>Vetik veric<h3>
                <h4>+9 Messages .5d</h4>
            </div>
            <div class="icon">
                <i class="ri-camera-line"></i>
            </div>
        </div>
    </div>
</body>
</html>